<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.stmikwp.rewo" 
    versionCode = "10"
    version     = "1.0.0" >
 
  <!-- versionCode is optional and Android only -->
 
  <name>Rewo</name>
 
  <icon src="image/logo_rewo.jpg" />

  <description>
      Aplikasi penyedia jasa Rewang Online 
  </description>
 
  <author href="https://stmik-wp.ac.id" email="viviaeka.ve@gmail.com">
      Eka Vivia Rizkiani
  </author>
 
</widget>